<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulearning.ulearning_app">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".core.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="U-Learning"
        android:roundIcon="@mipmap/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ulearning.App">
        <activity
            android:name=".ValidateCertActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ScanQrActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.conversation.ConversationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.addConversation.AddConversationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.message.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.home.view.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.courses.DetailCourseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.scanQr.ScanQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ulearning.ulearning_app.presentation.features.validateCert.ValidateCertActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_chat" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <service
            android:name="com.ulearning.ulearning_app.presentation.fcm.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>